{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Portfolio </title>
    <!-- google font icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- local css file -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./social-media-icons.css">
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/kanhaiya1.jpg' %}">
  </head>
  <body>
  

    <!-- header section starts -->
    <header class="header" id="header">
      <a><i class="menu material-icons"> menu </i></a>
      <nav class="navbar">
        <a href="#">home</a>
        <a href="#about">about</a>
        <a href="#resume">resume</a>
        <a href="#portfolio">portfolio</a>
        <a href="#contact">contact</a>
      </nav>
    </header>
    <!-- header section ends -->
    
    <!-- home section starts -->
    
    <section class="home" id="home" onclick>
        <p>Hello I'm <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
          <!-- emulate website -->
          <div id=background_0 onclick> </div>
          <!--------------------->
          <div class="social-menu">
          <ul>
              <li><a href="https://github.com/Coder-Erro404" target="blank"><i class="fab fa-github"></i></i></a></li>
              <li><a href="https://www.instagram.com/infinity_error_404/" target="blank"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://www.linkedin.com/in/kanhaiya-khansare-47a26a102" target="blank"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="https://wa.me/918898887276/?text=Hi Sam, Whatsup“"><i class="fab fa-whatsapp" target="blank"></i></a></li>
              
          </ul>
      </div>
      <div class="box1">
        <span></span>
        </div>
    </section>
    <!-- home section ends -->
<!-- about section starts -->
<section class="about" id="about">
  <div class="box-container">
    <div class="box">
      <div class="image">
        <img src="{% static 'img/kanhaiya1.jpg' %}" alt="" />
      </div>
    </div>
    <div class="box">
      <h1 class="heading">about <span>me</span></h1>
      <p>
        QA Tester with 2 years of experience with full system development life cycle experience including designing, 
        developing and implementing multiple test cases and plans. specializing in application testing, SQL, automation,
         and product development.Quality Assurance and Software Testing experience both 
         Web-Based application and mobile applications . Experienced with SDLC including traditional Waterfall 
         and Agile/Scrum methodologies.
        Proven expertise in ensuring software reliability and performance by conducting quality assurance , 
        including software test case development and execution, implementation of test plans, and bug tracking.
      </p>
      <p>

      </p>
      <a href="#" class="btn">hire me</a>
      <a href="#" class="btn">download CV</a>
    </div>
  </div>
</section>
<!-- about section ends -->
  
    <!-- resume section starts -->
    <section class="resume" id="resume">
      <h1 class="heading">my <span>resume</span></h1>
      <div class="col-container">
        <div class="col">
          <h2>experience</h2>
          <div class="box">
            <span><i class="material-icons"> calendar_today </i>Oct 2021 - Present </span>
            <h3>Sate Development</h3>
            <h4>Project's</h4>
            <ul>
              <li>Hone Android / ios Application </li>
              <li>Toy_Fax Android / ios Application </li>
              <li>Trampoline  Android / ios Application </li>
              <li>Traffic Incident Management Android / ios Application </li>
              <li>mike-jones Android / ios Application </li>
              <li>IwantSMART Android / ios / Web  Application </li>
              <li>GoldFingr Android / ios / Web  Application </li>
              <li>Centr-pwd Android / ios / Web  Application </li>
              <li>freebnk  Android / ios / Web  Application </li>
              <li>Nurses Web  Application </li>
              <li>Plannet Android / ios / Web  Application </li>
              <li>Scrypt Web  Application </li>
              <li>stych  Web  Application </li>
            </ul>
          
            <p class="university"> Address :- Unit No. 2023, NIBR Corporate Park 1 Aerocity Andheri - Kurla Rd Safed Pool Shivaji Nagar, Jarimari, Saki Naka, Mumbai, Maharashtra 400072</p>
          </div>
          <div class="box">
            <span><i class="material-icons"> calendar_today </i> Sept 2018 To Aug 2019</span>
            <h3>Adnac Business Solutions LLP</h3>
            <h4>Project's</h4>
            <ul>
              <li>HR Fast Android / ios Application </li>
              <li>MACIL Android / ios Application </li>
              <li>Pragya jewellery Web Application </li>
              <li>Kara jewellery Web Application </li>
              <li>Polymath Android / ios / Web Application </li>
              <li>NuTock Hotel Android / ios / Web  Application </li>
            </ul>
            <p class="university"> Address :- 406, Atlanta Estate,Goregoan-East, Mumbai</p>
          </div>
          <div class="box">
            <span><i class="material-icons"> calendar_today </i> Oct-2016 To Aug-2017
            </span>
            <h3>Grofer Food Company</h3>
            <p>Grofer Food Company as a billing process desk for 10 months (D.O)</p>
            <p class="university">Address :- Grofer Food Company Turbe MIDC</p>
          </div>
          <div class="box">
            <span><i class="material-icons"> calendar_today </i> Nov-2012 To Sept-2013</span>
            <h3> Reliance Fresh Private Limited</h3>
            <p>Reliance Fresh Private Limited as a Data Operator for 9th month.</p>
            <p class="university">Address :- Reliance Fresh Private Limited Turbe MIDC</p>
          </div>
          <h2>Skill's</h2>
          <div class="box">
            <h3> Programming Language:</h3>
            <p>Python , C++ , Core Java & C#.</p>
            
          </div>
          <div class="box">
            <h3> Web Programming</h3>
            <p>PHTML , CSS , Java script , Bootstrap & Git / Github .</p>
          </div>
          <div class="box">
            <h3> Framework</h3>
            <p>Django , Flask , Asp.net , Eclipse & NetBeans.</p>
          </div>
          <div class="box">
            <h3> Code Editor</h3>
            <p>VS Code , Sublime & Notepad ++</p>
          </div>
          <div class="box">
            <h3> Hardware Systems</h3>
            <p>PC Assembling , Formatting & Troubleshooting .</p>
          </div>
        </div>
        <div class="col">
          <h2>education</h2>
          <div class="box">
            <span><i class="material-icons"> calendar_today </i> Aug 2019 - Oct 2021</span>
            <h3>msc. information technology (artificial intelligence)</h3>
            <h4>Final Year Project</h4>
            <p>“Share Market Prediction” ( Using Machine Leaning ) The aim is to predict the future value of the financial stocks of a
              company. The recent trend in stock market prediction 
              technologies the use of machine learning which makes 
              predictions based on the values of current stock market indices 
              by training on their company values.
            </p>
            <p class="university">university of mumbai</p>
          </div>
          <div class="box">
            <span><i class="material-icons"> calendar_today </i> AUG 2013 - Jan 2017</span>
            <h3>bachelor  in computer science</h3>
            <h4>Final Year Project</h4>
            <p>
               “E-Courier Application in ASP.Net with C#”
                e-Courier is an end-to-end cloud-based software that helps
                ambitious last mile couriers operate and grow their business
            </p>
            <p class="university">new york university</p>
          </div>
          <div class="box">
            <span><i class="material-icons"> calendar_today </i> Passed (2012) March
            </span>
            <h3>Higher Secondary School Certificate ( HSC )</h3>
           
            <p class="university">Maharashtra State Board of Secondary and Higher Secondary Education</p>
          </div>
          <div class="box">
            <span><i class="material-icons"> calendar_today </i> Passed (2010) March</span>
            <h3>Secondary School Certificate ( SSC )</h3>

            <p class="university">Maharashtra State Board of Secondary and Higher Secondary Education</p>
          </div>
          <h2>Other Certificate</h2>
          <div class="box">
            <span><i class="material-icons"> calendar_today </i>Oct 2017</span>
            <h3>Software Testing Course</h3>
            <!-- <h4>Project's</h4> -->
            <ul>
              <li> Manual Testing.</li>
              <li>Automation testing</li>
            </ul>
            <p class="university">Garware Institute of Career Education and Development</p>
          </div>
          <div class="box">
            <span><i class="material-icons"> calendar_today </i> Aug 2010</span>
            <h3> Diploma in MS-office </h3>
            <!-- <h4>Project's</h4> -->
            <ul>
              <li> Corel-Draw </li>
                <li>Photoshop</li> 
                <li>2D-Animation</li> 
                <li>Flash</li>   
               <li>Basic Web- Designing </li>
            </ul>
            <p class="university">Anubhav Institute </p>
          </div>
          <div class="box">
            <span><i class="material-icons"> calendar_today </i> Aug 2019 to Sept 2021</span>
            <h3> Key Learning  in Master Degree</h3>
            <!-- <h4>Project's</h4> -->
            <ul>
              <li> Data Science</li>
                <li>Big Data Analysis</li> 
                <li>Modern Networking</li> 
                <li>Artificial Intelligence</li>   
               <li>Deep Learning </li>
               <li>Machine Learning </li>
               <li>Robotic Process Automation</li>
               <li>Human Computer Interaction</li>
            </ul>
            <p class="university">Master Degree</p>
          </div>
        </div>
        
      </div>
    </section>
    <!-- resume section ends -->

    
  <!-- portfolio section starts -->
  <section class="portfolio" id="portfolio">
    <h1 class="heading">featured <span>portfolio</span></h1>

    <div class="box-container">
      <div class="box">
        <div class="image">
          <img src="{% static 'img/AI.gif' %}" alt="" />
          <div class="content">
            <h2>project #1</h2>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="images/portfolio-2.jpeg" alt="" />
          <div class="content">
            <h2>project #2</h2>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="images/portfolio-3.jpeg" alt="" />
          <div class="content">
            <h2>project #3</h2>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="images/portfolio-4.jpeg" alt="" />
          <div class="content">
            <h2>project #4</h2>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="images/portfolio-5.jpeg" alt="" />
          <div class="content">
            <h2>project #5</h2>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="images/portfolio-6.jpeg" alt="" />
          <div class="content">
            <h2>project #6</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- portfolio section ends -->

    <!-- clients section starts -->
    <section class="clients" id="clients">
      <h1 class="heading">client <span>testimonial</span></h1>
      <div class="box-container">
        <div class="box">
          <div class="image">
            <img src="images/person_1.jpg" alt="" />
          </div>
          <div class="content">
            <p>
              "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam dolore beatae
              recusandae magnam veniam molestias modi nobis unde. "
            </p>
            <p>- ethan, CEO <span>XYZ Inc</span></p>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="images/person_2.jpg" alt="" />
          </div>
          <div class="content">
            <p>
              "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam dolore beatae
              recusandae magnam veniam molestias modi nobis unde. "
            </p>
            <p>- ethan, CEO <span>XYZ Inc</span></p>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="images/person_3.jpg" alt="" />
          </div>
          <div class="content">
            <p>
              "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam dolore beatae
              recusandae magnam veniam molestias modi nobis unde. "
            </p>
            <p>- ethan, CEO <span>XYZ Inc</span></p>
          </div>
        </div>
      </div>
    </section>
    <!-- clients section ends -->

    <!-- services section starts -->
    <section class="services" id="services">
      <h1 class="heading">my <span>services</span></h1>
      <div class="box-container">
        <div class="box">
          <i class="icon material-icons"> grid_view </i>
          <h2>web design</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur architecto reiciendis
            vel harum officiis velit vitae tempore obcaecati asperiores pariatur.
          </p>
          <a href="#" class="btn-2">learn more <i class="material-icons"> navigate_next </i></a>
        </div>
        <div class="box">
          <i class="icon material-icons"> poll </i>
          <h2>search engine optimization</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur architecto reiciendis
            vel harum officiis velit vitae tempore obcaecati asperiores pariatur.
          </p>
          <a href="#" class="btn-2">learn more <i class="material-icons"> navigate_next </i></a>
        </div>
        <div class="box">
          <i class="icon material-icons"> smart_display </i>
          <h2>video editing</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur architecto reiciendis
            vel harum officiis velit vitae tempore obcaecati asperiores pariatur.
          </p>
          <a href="#" class="btn-2">learn more <i class="material-icons"> navigate_next </i></a>
        </div>
      </div>
    </section>
    <!-- services section ends -->

    <!-- blogs section starts -->
    <section class="blogs" id="blogs">
      <h1 class="heading">my <span>blogs</span></h1>
      <div class="box-container">
        <div class="box">
          <div class="image">
            <img src="images/post-1.jpeg" alt="" />
          </div>
          <div class="content">
            <h2>creative product designer from facebook</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ut repudiandae,
              adipisci sed esse velit.
            </p>
            <span><i class="material-icons"> calendar_today </i> Jan 9, 2022</span>
            <span><i class="material-icons"> chat_bubble_outline </i> 5 comments</span>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="images/post-2.jpeg" alt="" />
          </div>
          <div class="content">
            <h2>creative product designer from facebook</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ut repudiandae,
              adipisci sed esse velit.
            </p>
            <span><i class="material-icons"> calendar_today </i> Jan 9, 2022</span>
            <span><i class="material-icons"> chat_bubble_outline </i> 5 comments</span>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="images/post-3.jpeg" alt="" />
          </div>
          <div class="content">
            <h2>creative product designer from facebook</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ut repudiandae,
              adipisci sed esse velit.
            </p>
            <span><i class="material-icons"> calendar_today </i> Jan 9, 2022</span>
            <span><i class="material-icons"> chat_bubble_outline </i> 5 comments</span>
          </div>
        </div>
      </div>
    </section>
    <!-- blogs section ends -->

    <!-- contact section starts -->
    <section class="contact" id="contact">
      <h1 class="heading">get <span>in touch</span></h1>
      <div class="col-container">
        <div class="col">
          <h2>get in touch</h2>
          <input type="text" placeholder="your name" />
          <input type="email" placeholder="your email" />
          <input type="text" placeholder="your phone" />
          <textarea name="" placeholder="write a message" id="" cols="30" rows="10"></textarea>
          <a href="" class="btn">send message</a>
        </div>
        <div class="col">
          <h2>my contact details</h2>
          <p>email</p>
          <span>kkhansare@gmail.com</span>
          <br />
          <br />
          <p>phone</p>
          <span>+91 8898887276</span>
          <br />

          <br />
          <p>address</p>
          <span
            >San Francisco, CA <br />
            4th Floor 8 Lower <br />
            San Francisco street, M1 50F</span
          >
        </div>
      </div>
    </section>
    <!-- contact section ends -->

    <!-- footer section starts -->
    <section class="footer" id="footer">
      <div class="socials">
        <ion-icon name="logo-google" ></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
        <ion-icon name="logo-youtube"></ion-icon>
        <ion-icon name="logo-linkedin"></ion-icon>
      </div>
      <p>designed and developed by future coders</p>
    </section>
    <!-- footer section ends -->

    <!-- ionicons cdn -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- local js file -->
       <!-- Bootstrap core JavaScript -->
	<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  </body>
</html>
