{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kanhaiya Khansare </title>
    <!-- google font icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- local css file -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./social-media-icons.css">
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/K.gif' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
  

    <!-- header section starts -->
    <header class="header" id="header">
      <a><i class="menu material-icons"> menu </i></a>
      <nav class="navbar">
        <a href="#">home</a>
        <a href="#about">about</a>
        <a href="#Profile">Profile</a>
        <a href="#services">Skill</a>
        <!-- <a href="#portfolio">portfolio</a> -->
        <a href="#contact">contact</a>
      </nav>
    </header>
    <!-- header section ends -->
    
    <!-- home section starts -->
    
    <section class="home" id="home" onclick>
      
      <div id=background_0 onclick> </div>

          <!-- emulate website -->
          <!--------------------->

      <!-- <div class="box1">
        <span></span>
        </div> -->
    </section>
    <!-- home section ends -->
<!-- about section starts -->
<section class="about" id="about">
  <div class="box-container">
    <div class="box">
      <p>Hello I'm <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
      <p class="texts">
        Detail-oriented QA professional with over 4 years of experience in software testing and qualityassurance. Proven expertise in test planning, execution, 
        defect tracking, and regression testing. Adeptat using various testing tools and methodologies. Strong communicator and collaborator, skilledinworking with 
        cross-functional teams to deliver high-quality products within tight deadlines.Dedicated to continuous learning and staying updated with the latest QA trends and 
        technologies todrive process improvements and enhance overall product quality.
      </p>
      <a href="{% static 'data/KANHAIYA KHANSARE.pdf' %}" download="KANHAIYA KHANSARE.pdf"class="btn">download CV</a>
    </div>
    <div class="box">
      <div class="image">
        <img src="{% static 'img/kanhaiya1.png' %}" alt="" />
      </div>
    </div>
    
  </div>
</section>
<!-- about section ends -->
  
    <!-- resume section starts -->
    <section class="resume" id="Profile">
      <h1 class="heading">My <span>Profile</span></h1>
      <div class="col-container">
        <div class="col">
          <h2>Professional Experience</h2>
          <div class="box">
            <span><i class="fa fa-briefcase" target="blank">  Sate Development</i><p class="university">Oct 2021 - Present  </p> </span>
            <h4 >Quality Assurance</h4> 

          
          <ul class="list" >
           <li>Collaborated with cross-functional teams to develop detailed
            test plans and test cases for web and mobile applications.</li> 
           <li>Performed both manual and automated testing, ensuring the
            stability and functionality of software following development
            updates and changes.</li>
            <li>Utilized Jira and Excel for defect tracking, reporting, and
              maintaining detailed documentation, ensuring seamless
              communication between development and QA teams.
              </li>
            <li>Selenium for automated testing to enhance efficiency and
              coverage.</li> 
            <li>Identified and categorized gaps in software functionality,
              performance, and adherence to standards</li>
            <li>Ensured high-quality releases by thoroughly analyzing and
              documenting test results</li> 

            </ul>
            <p class="university"> Andheri Mumbai  </p>
          </div>
          <div class="box">
            
            <span><i class="fa fa-briefcase" target="blank">Adnac Business Solutions</i><p class="university">Sept 2018-Aug 2019  </p> </span>
            <h4 >Software Tester</h4> 
            <h3></h3>
            <ul class="list">
            <li>Executed detailed test plans and cases using Selenium,
              leveraging basic automation skills to significantly improve
              software quality.</li>
            <li>Collaborated closely with development teams to effectively
              troubleshoot and resolve issues.</li>
            <li>Designed and conducted performance tests to thoroughly
              evaluate and enhance system scalability and responsiveness.
              </li>
              <li>Thoroughly documented and communicated test results, defect
                reports, and project status to ensure clear understanding and
                prompt action</li>
                <li>Utilized basic Selenium skills to streamline testing processes
                  and enhance efficiency during 1 year of hands-on experience.
                  </li>

            </ul>
            <p class="university">  Goregaon Mumbai</p>
          </div>
          <!-- <div class="box">
            <span><i class="material-icons"> calendar_today </i> Oct-2016 To Aug-2017
            </span>
            <h3>Grofer Food Company</h3>
            <p class="list" >Grofer Food Company as a billing process desk for 10 months (D.O)</p>
            <p class="university">Address :- Grofer Food Company Turbe MIDC</p>
          </div>
          <div class="box">
            <span><i class="material-icons"> calendar_today </i> Nov-2012 To Sept-2013</span>
            <h3> Reliance Fresh Private Limited</h3>
            <p class="list" >Reliance Fresh Private Limited as a Data Operator for 9th month.</p>
            <p class="university">Address :- Reliance Fresh Private Limited Turbe MIDC</p>
          </div> -->
          
        </div>
        <div class="col">
          <h2>Education</h2>
          <div class="box">
            <span>  <h4 >M.Sc in Information Technology (A.I)</h4> <p class="university">Aug-2021 </p> </span>
            <span> <p >University of Mumbai </p> </span>
           
          
          </div>
          <div class="box">
            <span><h4>B.Sc in Information Technology</h4><p class="university">Jan-2017 </p> </span>
            <p >University of Mumbai </p>
           

         
          
          </div>
          <div class="box">
            <span> <h4 >Higher Secondary School Certificate (HSC)</h4><p class=" fab fa-work university"> March-2012 </p> </span>
           <p>Mumbai </p>
                   
            
          </div>
          <div class="box">
            <span> <h4>Secondary School Certificate (SSC)</h4><p class=" fab fa-work university"> March-2010  </p> </span>
            <span><p>Mumbai </p></span>
           
            

            
          </div>
          <h2>Other Certificate</h2>
          <div class="box">
            <span> <h4>Software Testing Course</h4>
           <p class=" fab fa-work university"> Sept-2018 </p> </span>
            
            <!-- <h4>Project's</h4> -->
            <ul class="list">
              <li> Manual Testing.</li>
              <li>Automation testing</li>
            </ul>
            <p >Garware Institute of Career Education and Development</p>
          </div>
          <div class="box">
            <span><h4> Diploma in MS-office </h4>
           <p class=" fab fa-work university"> Aug 2010 </p> </span>
            
            <!-- <h4>Project's</h4> -->
            <ul class="list">
              
                <li>Ms-Office</li> 
                <li> Corel-Draw </li>
                <li>2D-Animation</li> 
                <li>Flash</li>   
               <li>Basic Web- Designing </li>
            </ul>
            <p >Anubhav Institute </p>
          </div> 
          <!-- <div class="box">
            
            <h3> Key Learning  in Master Degree</h3>
            <h4>Project's</h4>
            <ul class="list">
              <li> Data Science</li>
                <li>Big Data Analysis</li> 
                <li>Modern Networking</li> 
                <li>Artificial Intelligence</li>   
               <li>Deep Learning </li>
               <li>Machine Learning </li>
               <li>Robotic Process Automation</li>
               <li>Human Computer Interaction</li>
            </ul>
            <p class="university">Master Degree</p>
          </div> -->
        </div>
        
      </div>
    </section>
    <!-- resume section ends -->

    
  <!-- portfolio section starts -->
  <!-- <section class="portfolio" id="portfolio">
    <h1 class="heading">Featured <span>Portfolio</span></h1>

    <div class="box-container">
      <div class="box">
        <div class="image">
          <img src="{% static 'img/AI.gif' %}" alt="" />
          <div class="content">
            <h2>project #1</h2>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="images/portfolio-2.jpeg" alt="" />
          <div class="content">
            <h2>project #2</h2>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="images/portfolio-3.jpeg" alt="" />
          <div class="content">
            <h2>project #3</h2>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="images/portfolio-4.jpeg" alt="" />
          <div class="content">
            <h2>project #4</h2>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="images/portfolio-5.jpeg" alt="" />
          <div class="content">
            <h2>project #5</h2>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="images/portfolio-6.jpeg" alt="" />
          <div class="content">
            <h2>project #6</h2>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- portfolio section ends -->

    <!-- clients section starts -->
    <!-- <section class="clients" id="clients">
      <h1 class="heading">Client <span>Testimonial</span></h1>
      <div class="box-container">
        <div class="box">
          <div class="image">
            <img src="images/person_1.jpg" alt="" />
          </div>
          <div class="content">
            <p>
              "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam dolore beatae
              recusandae magnam veniam molestias modi nobis unde. "
            </p>
            <p>- ethan, CEO <span>XYZ Inc</span></p>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="images/person_2.jpg" alt="" />
          </div>
          <div class="content">
            <p>
              "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam dolore beatae
              recusandae magnam veniam molestias modi nobis unde. "
            </p>
            <p>- ethan, CEO <span>XYZ Inc</span></p>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="images/person_3.jpg" alt="" />
          </div>
          <div class="content">
            <p>
              "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam dolore beatae
              recusandae magnam veniam molestias modi nobis unde. "
            </p>
            <p>- ethan, CEO <span>XYZ Inc</span></p>
          </div>
        </div>
      </div>
    </section> -->
    <!-- clients section ends -->

    <!-- services section starts -->
    <section  id="services">
      <div class="skills-section">
        <div class="heading">
      <h1>Skills</h1> 
         </div>
         <div class="skills-container">
           
          <div class="skills-box">
           <div class="skills-title">
           <div class="skills-img">
            <img src="{% static 'img/search.png' %}"    alt="" class="skills-icons">
            </div>
             <h2>Manual Tester</h2>
            </div>
            
           </div>
           
           
            <div class="skills-box">
           <div class="skills-title">
           <div class="skills-img">
            <img src="{% static 'img/automation.png' %}"alt="" class="skills-icons">
            </div>
            <h2>Automation</h2>
            </div>
            
           </div>
           <div class="skills-box">
            <div class="skills-title">
            <div class="skills-img">
             <img src="{% static 'img/Selenium_Logo.png' %}" alt="" class="skills-icons">
             </div>
             <h2>Selenium</h2>
             </div>
           
            </div> 
           
            <div class="skills-box">
           <div class="skills-title">
           <div class="skills-img">
            <img src="{% static 'img/python.png' %}" alt="" class="skills-icons">
            </div>
            <h2>Python</h2>
            </div>
         
           </div>

           <div class="skills-box">
            <div class="skills-title">
            <div class="skills-img">
             <img src="{% static 'img/appium-test.png' %}" alt="" class="skills-icons">
             </div>
             <h2>Appium Studio</h2>
             </div>
           
            </div>
           
              <div class="skills-box">
           <div class="skills-title">
           <div class="skills-img">
            <img src="{% static 'img/java.png' %}" alt="" class="skills-icons">
            </div>
            <h2>Core Java</h2>
            </div>
          
           </div>
           <div class="skills-box">
            <div class="skills-title">
            <div class="skills-img">
             <img src="{% static 'img/django.png' %}" alt="" class="skills-icons">
             </div>
             <h2>Django </h2>
             </div>
           
            </div>

           
              <div class="skills-box">
           <div class="skills-title">
           <div class="skills-img">
            <img src="{% static 'img/browser.png' %}" alt="" class="skills-icons">
            </div>
            <h2>HTML & CSS </h2>
            </div>
          
           </div>
            <div class="skills-box">
              <div class="skills-title">
              <div class="skills-img">
               <img src="{% static 'img/Visual_Studio.png' %}" alt="" class="skills-icons">
               </div>
               <h2>Visual Studio </h2>
               </div>
              </div>
              <div class="skills-box">
                <div class="skills-title">
                <div class="skills-img">
                 <img src="{% static 'img/GitHub.png' %}" alt="" class="skills-icons">
                 </div>
                 <h2>GitHub</h2>
                 </div>
               
                </div>
           </div>
        
         </div>
    </section>
    <!-- services section ends -->

    <!-- blogs section starts -->
    <!-- <section class="blogs" id="blogs">
      <h1 class="heading">My <span>Blogs</span></h1>
      <div class="box-container">
        <div class="box">
          <div class="image">
            <img src="images/post-1.jpeg" alt="" />
          </div>
          <div class="content">
            <h2>creative product designer from facebook</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ut repudiandae,
              adipisci sed esse velit.
            </p>
            <span><i class="material-icons"> calendar_today </i> Jan 9, 2022</span>
            <span><i class="material-icons"> chat_bubble_outline </i> 5 comments</span>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="images/post-2.jpeg" alt="" />
          </div>
          <div class="content">
            <h2>creative product designer from facebook</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ut repudiandae,
              adipisci sed esse velit.
            </p>
            <span><i class="material-icons"> calendar_today </i> Jan 9, 2022</span>
            <span><i class="material-icons"> chat_bubble_outline </i> 5 comments</span>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="images/post-3.jpeg" alt="" />
          </div>
          <div class="content">
            <h2>creative product designer from facebook</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi ut repudiandae,
              adipisci sed esse velit.
            </p>
            <span><i class="material-icons"> calendar_today </i> Jan 9, 2022</span>
            <span><i class="material-icons"> chat_bubble_outline </i> 5 comments</span>
          </div>
        </div>
      </div>
    </section> -->
    <!-- blogs section ends -->

    <!-- contact section starts -->
    <section class="contact" id="contact">
      <h1 class="heading">Get <span>In Touch</span></h1>
      <div class="col-container">
        <div class="col">
          <h2>Get In Touch</h2>
          <input type="text" placeholder="Name" />
          <input type="email" placeholder="Email" />
          <input type="text" placeholder="Phone" />
          <textarea name="" placeholder="write a message" id="" cols="30" rows="6"></textarea>
          <a href="" class="btn">send message</a>
        </div>
        <div class="col">
          <h2>My Contact Details</h2>
          <p>email</p>
          <span>kkhansare@gmail.com</span>
          <br />
          <br />
          <p>phone</p>
          <span>+91 8898887276</span>
          <br />

          <br />
          <p>address</p>
          <span>Chembur Mumbai-400043</span>
            
          
        </div>
      </div>
    </section>
    <!-- contact section ends -->

    <!-- footer section starts -->
     <section class="footer" id="footer">
       <div class="socials">
        <a rel="githubpage" href="https://github.com/Coder-Erro404"><ion-icon  name="logo-github" ><link ></ion-icon></a>
        <a rel="githubpage" href="https://wa.me/918898887276/?text=Hi Sam, Whatsup“"><ion-icon name="logo-whatsapp"></ion-icon></a>
        <a rel="githubpage" href="tel: +918898887276"><ion-icon name="call-outline"></ion-icon></a>
          <a rel="githubpage" href="https://www.linkedin.com/in/kanhaiya-khansare-47a26a102"><ion-icon name="logo-linkedin"></ion-icon></a>
      </div>
      <p>Designed by Kanhaiya Khansare</p>
    </section> 
    <!-- footer section ends -->

    <!-- ionicons cdn -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- local js file -->
       <!-- Bootstrap core JavaScript -->
	<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  </body>
</html>
